<!--
  <div class="container">
  <div class="row">
    <div class="col-6 bg-primary" style="height: 200px;">
      <div class="alert alert-warning" role="alert">
        This is my perosnal info
      </div>
      <!-<app-personal-info></app-personal-info> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div>  -->


<div class="back">

  <div class="div-center">
    <div class="content">
      <h4 style="margin-top: 50px; 
      font-family:'Times New Roman', Times, serif;font-weight: bolder;text-shadow: 1px 1px blue;

    ">connect with us
      </h4>
      <hr />

      <div class="form-group">
        <label for="exampleInputEmail1" style="font-weight: bold;">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="name" style="font-weight: bold;">Enter Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name">

      </div>

      <div class="form-group">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
      <hr />
      <!-- <button type="button" class="btn btn-link">Signup</button> -->
      <!-- <button type="button" class="btn btn-link">Reset Password</button> -->



    </div>


    <!-- </span> -->
  </div>
