<div class="container-fluid">
  <div class="row" style="height: 100vh">
    <!-- Left Block -->
    <div class="col bg-warning d-flex flex-column justify-content-center align-items-center" style="
      background-image: url(assets/2.jpg); 
      background-repeat: no-repeat;
      object-fit: cover ;
      background-size: cover ;
      background-position: center;
      box-shadow: 12px 12px 29px #555;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222);
      border: 1px solid black; 
      border-radius: 20px;">
      <div>
        <!-- <fa-icon [icon]=" faAirFreshener" style="font-size: 54px"> -->
        <!-- </fa-icon> -->
      </div>
      <div class="h3" style="color: white;"></div>
      <div class="h6">

      </div>
    </div>

    <!-- Right Block-->
    <div class="col 
    d-flex flex-column 
    justify-content-center 
    align-items-center" style="border: 1px solid black; 
    background: rgba(34, 65, 10, 0.897);
    border-radius: 20px 
  " [formGroup]="fbFormGroup">
      <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
        A simple danger alert—check it out!
      </div>

      <div class="h4" style="font-weight: bold ;color:silver;">Login</div>


      <div class="mt-4">
        <input type="text" placeholder="Enter Username" class="form-control" formControlName="username"
          style="border-bottom: 2px solid black" />
      </div>

      <div class="mt-3">
        <input style="border-bottom: 2px solid black " type="password" placeholder="Enter Password" class="form-control"
          formControlName="password" />
      </div>

      <button style="border-color: black ;" class="btn btn-sm btn-primary mt-4 mb-2" [disabled]="!fbFormGroup.valid"
        (click)="loginProcessHere()">
        Login Here
      </button>

      <a routerLink="/register" style="color:silver;font-style: bold;">Register Here</a>
    </div>
  </div>
</div>
