<div class="container-fluid">
  <div class="row sticky-top" style="height: 60px;background: green;">
    <div class="col d-flex align-items-center"
      style="font-family: 'Courier New', Courier, monospace;font-size:x-large; color: white; font-weight: bold;">
      <!-- <fa-icon [icon]="faAirFreshener" style="font-size: 28px; margin-right: 8px"></fa-icon> -->
      Brand shop
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <a class="btn btn-outline-light mr-1" routerLink="/home/">Home</a>
      <a class="btn btn-outline-light mr-1" routerLink="/home/education">Product
      </a>
      <a class="btn btn-outline-light mr-1" routerLink="/home/contact-us">
        Contact Us
      </a>

      <button class="btn btn-outline-light mr-1" (click)="processLogout()">
        Log Out
      </button>
    </div>
  </div>

  <!-- <div class="row bg-secondary" style="height:800px; background-image: url(/assets/home.jpg);"> -->
  <!-- </div> -->

  <router-outlet></router-outlet>
</div>
